body {
    background-color: #faeefb;
    background-color: rgb(252, 203, 255);
}

input[type=number] {
    border-color: rgb(224, 196, 225);
}

h1 {
    color: rgb(136, 24, 119);
    text-shadow: 2px 2px white;
}

#balance {
    color: rgb(31, 147, 236);
    color: rgb(102, 110, 221);

}

#deposit {
    border-color: rgb(218, 200, 217);
}

.choice {
    background-color: rgb(184, 224, 255);
    border-color: white;
    color: rgb(102, 110, 221);
}

#text {
    color: rgb(100, 45, 103);
    background-color: rgb(211, 162, 214);
}