:root {
    --book-width: 180px;
}

@font-face {
    font-family: ATWriter;
    src: url(Images/atwriter.ttf);
}

body {
    font-family: ATWriter, Georgia;
    background-color: rgb(41, 37, 45); 
    color: rgb(170, 123, 51);
}

a {
    color: rgb(255, 255, 255);
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
    font-weight: lighter;
    font-style: italic;
}

.text {
    font-size: 110%;
    margin-left: 20px;
}

uL {
    line-height: 130%;
}

.book-container {
    display: flex;
    flex-wrap: wrap;
}

.book {
    width: var(--book-width);
    height: 230px;
    border-style: solid;
    color: rgb(170, 123, 51);
    text-align: center;
    background-color: rgb(75, 68, 83); 
    margin: 5px;
}

.book-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    height: var(--book-width);
}

.text-container {
    display: flex;
    margin-right: 50px;
}

.info-box {
    border-color: lightslategray;
    border-style: solid;
    margin-left: 10px;
    /*width: var(--book-width);*/
}

