:root {
    --book-width: 180px;
}

@font-face {
    font-family: ATWriter;
    src: url(Images/atwriter.ttf);
}

body {
    font-family: ATWriter, Georgia;
    background-color: rgb(41, 37, 45); 
    color: rgb(170, 123, 51);
    background-size: 100%;
    background-image: url("images/library.png");
}

a {
    color: grey;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
    font-weight: lighter;
    font-style: italic;
}

.text {
    font-size: 110%;
    margin-left: 20px;
}

uL {
    line-height: 130%;
}

.book-container {
    display: flex;
    border-style: solid;
    border-color: rgb(84, 34, 51);
    border-width: 20px;
    background-color: rgb(49, 20, 39);
    justify-content: space-around;
}

.book {
    width: var(--book-width);
    height: 230px;
    border-style: solid;
    color: rgb(170, 123, 51);
    text-align: center;
    background-color: rgb(75, 68, 83); 
    margin: 5px;
}

.book-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    height: var(--book-width);
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 7px;
    opacity: 60%;
    transition: 1s;
}

.book-image:hover {
    opacity: 100%;
}

.text-container {
    display: flex;
    margin-right: 50px;
}

.info-box {
    border-color: lightslategray;
    border-style: solid;
    margin-left: 10px;
    /*width: var(--book-width);*/
}

.cover-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    height: 630px;
    width: 560px; 
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center; 
    border-radius: 5%;
}

.book-text {
    color: rgb(57, 57, 57);
    opacity: 0%;
    margin: 25px;
    font-size: 110%;
}

.page-number {
    color: black;
    font-size: 90%;
    position: absolute;
    top: 93%;
    left: 93%;
    
}

.left-text {
    color: black;
    font-size: 90%;
    position: absolute;
    top: 93%;
    left: 25px;
}

.book-body {
    background-image: url(images/library.png)"
}

