:root {
    --book-width: 180px;
}

body {
    font-family: Georgia;
    background-color: rgb(219, 208, 225); 
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
    font-weight: lighter;
    font-style: italic;
}

p {
    font-size: 110%;
}

uL {
    line-height: 130%;
}

.book {
    display: inline-block;
    width: var(--book-width);
    height: 230px;
    border-style: solid;
    border-color: lightslategray;
    text-align: center;
    background-color: white;
}

.book-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    height: var(--book-width);
}