* {
  font-family: arial;
}

body {
  background-color: lightcyan;
}

fieldset {
  border: 1px solid black;
  margin: 0px;
  padding: 1rem;
  margin-bottom: 1rem;
}
label {
  display: block;
}

.honeypot-field {
  display: none;
}

.form-elements {
  border: 1px solid black;
}

li {
  margin-bottom: 1em;
}

.Timestamp {
  display: none;
}

#sheetData {
  display: flex;
  flex-wrap: wrap;
}

.item {
  background-color: white;
  border-color: palevioletred;
  border-width: 2px;
  border-radius: 2px;
  border-style: solid;
  margin: 2px;
}